<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input proejkt Boil tabele do csv</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h3>Czynność poprzedzająca</h3>
            <button id="addRow1">+</button>
            <button id="removeRow1">-</button>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="http://localhost:5000/get_search_png" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="http://localhost:5000/get_pdf_png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="http://localhost:5000/get_json_png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="http://localhost:5000/get_csv_png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="http://localhost:5000/get_excel_png" alt=""></label>
                    <label for="export-file" id="GENERATE">FOR CPM <img src="http://localhost:5000/get_export_png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Czynnosc<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Czynnosc_bezposrednio_poprzedzajaca<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Czas_trwania<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody id="tableBody1">
                    <!-- Wiersze tabeli będą dodawane dynamicznie tutaj -->
                </tbody>
            </table>
        </section>
    </main>
    <script>
document.addEventListener('DOMContentLoaded', function() {
    let idCounter = 1; // Przenosimy licznik ID na zewnątrz funkcji DOMContentLoaded

    // Funkcja obsługująca kliknięcie w komórkę tabeli
    const handleCellClick = function(event) {
        const target = event.target;
        if (target.tagName === 'TD') {
            const currentValue = target.textContent.trim();
            const input = document.createElement('input');
            input.value = currentValue;
            input.style.width = target.offsetWidth ;
            input.style.height = target.offsetHeight ;
            input.style.boxSizing = 'border-box';
            input.style.padding = '5px';
            input.style.margin = '0';
            input.style.border = '1px solid #ccc';
            input.style.borderRadius = '3px';
            input.style.fontSize = 'inherit';
            input.style.fontFamily = 'inherit';
            input.style.textAlign = 'center';

            // Po utworzeniu pola input, zastępujemy nim komórkę tabeli
            target.innerHTML = '';
            target.appendChild(input);

            // Obsługa zdarzenia zatwierdzenia nowej wartości po wciśnięciu Enter
            input.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    target.textContent = input.value;
                }
            });

            // Ustawienie fokusa na polu input po jego utworzeniu
            input.focus();
        }
    };

    fetch('http://localhost:5000/get_activities')
        .then(response => response.json())
        .then(data => {
            let tableBody = document.getElementById('tableBody1');
            for (let key in data) {
                for (let activity of data[key]) {
                    let row = document.createElement('tr');

                    let cellID = document.createElement('td');
                    cellID.textContent = idCounter++;
                    row.appendChild(cellID);

                    let cellActivity = document.createElement('td');
                    cellActivity.textContent = key;
                    row.appendChild(cellActivity);

                    let cellPrevActivity = document.createElement('td');
                    cellPrevActivity.textContent = activity[0] === '-' ? '-' : activity[0];
                    row.appendChild(cellPrevActivity);

                    let cellDuration = document.createElement('td');
                    cellDuration.textContent = activity[1];
                    row.appendChild(cellDuration);

                    tableBody.appendChild(row);
                }
            }
        })
        .catch(error => console.error('Error:', error));

    document.getElementById('addRow1').addEventListener('click', function() {
        let tableBody = document.getElementById('tableBody1');
        let row = document.createElement('tr');

        let cellID = document.createElement('td');
        cellID.textContent = idCounter; // Używamy licznika jako ID dla nowego wiersza
        row.appendChild(cellID);

        for (let i = 0; i < 3; i++) {
            let cell = document.createElement('td');
            cell.textContent = '-'; // Wypełniamy puste pola "-"
            row.appendChild(cell);
        }
        tableBody.appendChild(row);
        idCounter++; // Zwiększamy licznik ID po dodaniu nowego wiersza

        // Dodajemy obsługę zdarzeń do nowo utworzonych komórek
        let newCells = row.querySelectorAll('td');
        newCells.forEach(cell => {
            cell.addEventListener('click', handleCellClick);
        });
    });

    document.getElementById('removeRow1').addEventListener('click', function() {
        let tableBody = document.getElementById('tableBody1');
        if (tableBody.rows.length > 0) {
            tableBody.deleteRow(tableBody.rows.length - 1);
            idCounter--; // Zmniejszamy licznik ID po usunięciu wiersza
        }
    });
});

    </script>

<main class="table" id="right_table">
    <section class="table__header">
        <h3>Numeracja zdarzeń</h3>
        <button id="addRow2">+</button>
        <button id="removeRow2">-</button>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="http://localhost:5000/get_search_png" alt="">
        </div>
        <div class="export__file">
            <label for="export-file1" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file1">
            <div class="export__file-options">
                <label>Export As   ➜</label>
                <label for="export-file1" id="toPDF1">PDF <img src="http://localhost:5000/get_pdf_png" alt=""></label>
                <label for="export-file1" id="toJSON1">JSON <img src="http://localhost:5000/get_json_png" alt=""></label>
                <label for="export-file1" id="toCSV1">CSV <img src="http://localhost:5000/get_csv_png" alt=""></label>
                <label for="export-file1" id="toEXCEL1">EXCEL <img src="http://localhost:5000/get_excel_png" alt=""></label>
                <label for="export-file1" id="GENERATE1">FOR CPM <img src="http://localhost:5000/get_export_png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th>ID<span class="icon-arrow">↑</span></th>
                    <th>Czynnosc<span class="icon-arrow">↑</span></th>
                    <th>Poprzednik<span class="icon-arrow">↑</span></th>
                    <th>Nastepnik<span class="icon-arrow">↑</span></th>
                </tr>
            </thead>
            <tbody id="tableBody2">
                <!-- Wiersze tabeli będą dodawane dynamicznie tutaj -->
            </tbody>
        </table>
    </section>
</main>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let idCounter = 1; // Przenosimy licznik ID na zewnątrz funkcji DOMContentLoaded

    // Funkcja obsługująca kliknięcie w komórkę tabeli
    const handleCellClick = function(event) {
        const target = event.target;
        if (target.tagName === 'TD') {
            const currentValue = target.textContent.trim();
            const input = document.createElement('input');
            input.value = currentValue;
            input.style.width = target.offsetWidth ;
            input.style.height = target.offsetHeight ;
            input.style.boxSizing = 'border-box';
            input.style.padding = '5px';
            input.style.margin = '0';
            input.style.border = '1px solid #ccc';
            input.style.borderRadius = '3px';
            input.style.fontSize = 'inherit';
            input.style.fontFamily = 'inherit';
            input.style.textAlign = 'center';

            // Po utworzeniu pola input, zastępujemy nim komórkę tabeli
            target.innerHTML = '';
            target.appendChild(input);

            // Obsługa zdarzenia zatwierdzenia nowej wartości po wciśnięciu Enter
            input.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    target.textContent = input.value;
                }
            });

            // Ustawienie fokusa na polu input po jego utworzeniu
            input.focus();
        }
    };

    fetch('http://localhost:5000/get_events') // Zmieniamy endpoint na /get_events
        .then(response => response.json())
        .then(data => {
            let tableBody = document.getElementById('tableBody2');
            for (let key in data) {
                for (let event of data[key]) {
                    let row = document.createElement('tr');

                    let cellID = document.createElement('td');
                    cellID.textContent = idCounter; // Używamy licznika jako ID
                    row.appendChild(cellID);

                    let cellActivity = document.createElement('td');
                    cellActivity.textContent = key;
                    row.appendChild(cellActivity);

                    let cellPrevActivity = document.createElement('td');
                    cellPrevActivity.textContent = event[0];
                    row.appendChild(cellPrevActivity);

                    let cellNextActivity = document.createElement('td');
                    cellNextActivity.textContent = event[1];
                    row.appendChild(cellNextActivity);

                    tableBody.appendChild(row);
                }
                idCounter++;
            }
        })
        .catch(error => console.error('Error:', error));

    document.getElementById('addRow2').addEventListener('click', function() {
        let tableBody = document.getElementById('tableBody2');
        let row = document.createElement('tr');

        let cellID = document.createElement('td');
        cellID.textContent = idCounter; // Używamy licznika jako ID dla nowego wiersza
        row.appendChild(cellID);

        for (let i = 0; i < 3; i++) {
            let cell = document.createElement('td');
            cell.textContent = '-'; // Wypełniamy puste pola "-"
            row.appendChild(cell);
        }
        tableBody.appendChild(row);
        idCounter++; // Zwiększamy licznik ID po dodaniu nowego wiersza

        // Dodajemy obsługę zdarzeń do nowo utworzonych komórek
        let newCells = row.querySelectorAll('td');
        newCells.forEach(cell => {
            cell.addEventListener('click', handleCellClick);
        });
    });

    document.getElementById('removeRow2').addEventListener('click', function() {
        let tableBody = document.getElementById('tableBody2');
        if (tableBody.rows.length > 0) {
            tableBody.deleteRow(tableBody.rows.length - 1);
            idCounter--; // Zmniejszamy licznik ID po usunięciu wiersza
        }
    });
});

</script>
</body>

</html>
